Library/metadata/*
Temp/UnityLockfile
Library/metadata/*
Temp/*
Library/PlayerDataCache/*
Library/ShaderCache/*
Assets/3D Assets/photo_2018-01-16_20-34-15.jpg.meta
*.meta
Library/ScriptAssemblies/*

*.meta
*.dll
Library/ScriptAssemblies/*
Library/CrashedAssetImports.txt
Library/ScriptAssemblies/*
Library/metadata/*
